* {
  background-color: #E0F4FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}


div,
a {
  width: auto;
  display: inline-block;
}

a {
  display: block;
  margin: 8px;
  text-decoration: none;
}

img {
  width: 250px;
  height: auto;
}
